@import url("https://fonts.cdnfonts.com/css/source-sans-pro?styles=14489");

html {
  font-size: 62.5%;
}

.body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #000;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aliceblue;
  border: 5px solid #000;
  border-radius: 30px;
}

.box {
  text-align: center;
  margin-top: 40px;
}

.header {
  text-align: center;
  font-size: 20px;
  color: #0d0d0d;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  color: hsla(214, 34%, 26%, 1);
}

.heading {
  font-size: 1.6rem;
  margin: 0;
}

.logo-picture1:hover,
.logo-picture2:hover {
  filter: brightness(0.75);
  zoom: 1.5;
}

.instructions {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 7px;
  margin: 50px auto 0 auto;
  max-width: 490px;
  text-align: left;
  padding: 0 20px;
}

.instructions li {
  font-size: 1.4rem;
}

.instructions a {
  color: blue;
  font-size: 1.6rem;
}

/* main page styles */

.headerContainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 10px 0;
  padding-bottom: 10px;
}

.cupLogo {
  width: 30px;
}

.title {
  font-size: 24px;
  color: hsla(214, 34%, 26%, 1);
  margin-left: 10px;
}

ol {
  list-style: none;
  padding: 0;
}

.tournamentList {
  margin: 0 auto;
  max-width: 490px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.tournament {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  background-color: #ffffff;
}

.picture {
  max-width: 100%;
  width: 50px;
  border-radius: 50%;
  background-color: #dfdfdf;
}

.tournamentName {
  color: hsla(214, 34%, 26%, 1);
  font-weight: 600;
  letter-spacing: 0.64px;
  margin-left: 15px;
  font-size: 1.6rem;
}
